body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fefefe;
  color: #633;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px 80px;
}

.credit {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 12px;
  color: #999;
  opacity: 0.7;
  letter-spacing: 0.5px;
}

h1 {
  margin-bottom: 8px;
}

.subtitle {
  color: #595959;
  margin-top: 0;
  margin-bottom: 24px;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.toggle-row {
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-start;
}

button {
  background: #2a2a2a;
  background-image: linear-gradient(to bottom, #966, #633, #300); /* Taken from the Wiki Search Button */
  color: #fff;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #633;
}

.status {
  color: #595959;
  margin-bottom: 20px;
}

.card { /* Results. Styled Similarly to Wiki Sidebar */
  background: #e3e3e3; /* "Notice Box" Gray, to have Result Stick Out From the Page */
  border: 1px solid #600;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(102, 0, 0, .5);
}

.hidden {
  display: none;
}

.type {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 12px;
  color: #600;
  margin: 0 0 10px 0;
  font-weight: bold;
}

h2 {
  color: #b01;
  margin-top: 0;
  margin-bottom: 18px;
}

h2 a {
  color: #b01;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

.meta p {
  margin: 6px 0;
}

.tags {
  color: #595959;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.tag {
  background: #633;
  border: 1px solid #444;
  border-radius: 999px;
  padding: 6px 10px;
  font-size: 14px;
  color: #ddd;

  cursor: pointer;
  font-family: inherit;
  line-height: 1.2;

  display: inline-block;
}

.tag:hover {
  background: #744; /* Highlights Selected Tag */
}

.tag:focus {
  outline: 2px solid #b01;
  outline-offset: 2px;
}

.result-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.result-main {
  flex: 1;
  min-width: 0;
}

.alt-title {
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #a4241e;
  font-weight: bold;
}

.preview {
  margin-top: 14px;
  margin-bottom: 1px;
  line-height: 1.5;
  color: #444;
  font-style: italic;
}

.thumbnail {
  width: 200px;
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #600;
  object-fit: cover;
  flex-shrink: 0;
}
